<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}URLShortify{% endblock %}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
    </style>
</head>
    <body>
        <div class="body">
            <div class="container">
                <div class="content">
                    {% block body %}{% endblock %}
                </div>
                <div class="footer">
                    <p class="block">
                        Cordialement,<br><br>
                        L'équipe <em>URLShortify</em>
                    </p>
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
