{% extends 'email/layout.html.twig' %}
{% block body %}
<div class="content">
    <h1 class="text-center">Réinitialiser votre mot de passe {{ user.name|upper }}!</h1>
    <p class="block">
        Pour réinitialisr votre mot de passe <strong>URLShortify</strong>.
        Veillez cliquer sur le lien ci-dessous:
    </p>
    <p class="block text-center">
        <a href="#" class="btn">Réinitialiser mot de passe</a>
    </p>
</div>
{% endblock %}
