<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bienvenu sur URLShortify !</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Helvetica, Arial, sans-serif;
        }
        h1 {
            background-color: #264459;
            color: #ffffff;
            padding: 30px 0 50px 0;
            font-weight: normal;
        }
        hr {
            border: none;
            border-top: 3px solid #264459;
            margin: 20px;
        }
</head>
<body>
    <div class="body">
        <div class="container">
            <div class="header text-center">
                <a href="#homepage">
                    <img src="path/to/logo.png" class="logo" alt="SpaceBar Logo">
                </a>
            </div>
            <div class="content">
                <h1 class="text-center">Ravi de vous rencontrer %name%!</h1>
                <p class="block">
                    Bienvenu sur <strong>URLShortify</strong>. <br/> Commencez à créer votre premier lien et rejoignez la communauté de l'URLShortify de l'espace.
                </p>
                <p class="block text-center">
                    <a href="" class="btn">Créer un lien!</a>
                </p>
            </div>
            <div class="footer">
                <p class="block">
                    Cordialement,<br><br>
                    L'équipe <em>URLShortify</em>
                </p>
            </div>
        </div>
    </div>
</body>
</html>