{% extends 'email/layout.html.twig' %}
{% block body %}
<div class="content">
    <h1 class="text-center">Ravi de vous rencontrer {{ user.name }}!</h1>
    <p class="block">
        Bienvenu sur <strong>URLShortify</strong>. <br/>
        Rejoignez la communauté de l'URLShortify et commencez à créer votre premier lien.
    </p>
    <p class="block text-center">
        <a href="" class="btn">Créer un lien</a>
    </p>
</div>
{% endblock %}
